#OS junk files
[Tt]humbs.db
*.DS_Store
*.user
*.idx
*.exe
*.ilk
*.pdb
*.obj
*.txt
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
#Project files
[Bb]uild/
build-CheckDirectoryAndFileChange-Desktop_Qt_6_5_1_MSVC2019_64bit-Debug/